<a href="https://colab.research.google.com/github/JamKia/Functions-1/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet(name):
	"""This function greets to
	the person passed in as
	parameter"""
	print("Hello, " + name + ". Good morning!")

In [ ]:
greet('Jamshid')
greet.__doc__

Hello, Jamshid. Good morning!

'This function greets to\n\tthe person passed in as\n\tparameter'

In [ ]:
# Although they have same names,
# they are two different variables with different scope.
def my_func1():
	x = 10
	print("Value inside function:",x)
  
def my_func2():
	#x = 10
	print("Value inside function:",x)

x = 20
my_func1()

# On the other hand, variables outside of the function
# are visible from inside. They have a global scope.

my_func2()
print("Value outside function:",x)

# We can read these values from inside the function
# but cannot change (write) them. In order to modify 
# the value of variables outside the function, 
# they must be declared as global variables using the keyword global.

Value inside function: 10
Value inside function: 20
Value outside function: 20

In [ ]:
def greet(name, msg = "Good morning!"):
   """
   This function greets to
   the person with the
   provided message.

   If message is not provided,
   it defaults to "Good
   morning!"
   """
   print("Hello",name + ', ' + msg)

greet("JAmshid")
greet("Arash","How do you do?")

# ny number of arguments in a function can have a default value. But once we have a default argument, all the arguments to its right must also have default values.

# This means to say, non-default arguments cannot follow default arguments.

Hello JAmshid, Good morning!
Hello Arash, How do you do?

In [ ]:
# Sometimes, we do not know in advance the number of arguments that will
# be passed into a function.Python allows us to handle this kind of situation through function calls with arbitrary number of arguments.

def greet(*names):
   """This function greets all
   the person in the names tuple."""

   # names is a tuple with arguments
   for name in names:
       print("Hello",name)

greet("Jamshid","Arash","Ardalan","Kia")

Hello Jamshid
Hello Arash
Hello Ardalan
Hello Kia

In [ ]:
# An example of a recursive function to
# find the factorial of a number

def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 4
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 4 is 24

In [ ]:
# In Python, anonymous function is a function that is defined without a name.

# While normal functions are defined using the def keyword, in Python anonymous
# functions are defined using the lambda keyword.

# Syntax of Lambda Function in python:
# lambda arguments: expression

double = lambda x: x * 2
print('double:',double(5))

cubed= lambda y: y**3
print('cube:', cubed(3))

double: 10
cube: 27

In [ ]:
# Lambda functions are used along with built-in functions 
# like filter(), map(), reduce

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 != 0) , my_list))
print(new_list)
# ---------------------
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)
# ---------------------
remainder = lambda num: num % 2
print(remainder(5))
# ---------------------
product = lambda x, y : x * y
print(product(2, 3)) 
# ---------------------
# we have a function that takes one argument,
# and the argument is to be multiplied with a number that is unknown. 

def testfunc(num):  
    return lambda x : x * num

result1 = testfunc(10)
result2 = testfunc(1000)
print(result1(9))
print(result2(9))

[1, 5, 11, 3]
[2, 10, 8, 12, 16, 22, 6, 24]
1
6
90
9000

In [ ]:
# filter(object, iterable)
 # The object here should be a lambda function which returns 
 # a boolean value. The object will be called for every item 
 # in the iterable to do the evaluation. The result is either a True or a False for every item.
 # Note that the function can only take one iterable as the input. 

numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]
filtered_list = list(filter(lambda num: (num < 7), numbers_list))
print(filtered_list)

[2, 6, 4, 0, 3]

In [ ]:
# map(object, iterable_1, iterable_2, ...)
 # The iterable to the map() function can be
 # a dictionary, a list, etc. 
 # The map() function basically maps every item
 # in the input iterable to the corresponding item
 # in the output iterable, according to the logic defined
 # by the lambda function.

numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]
mapped_list = list(map(lambda num: num % 2, numbers_list))
print(mapped_list)

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

In [ ]:
# Create the test data
myList = list(range(1, 11))
# Create our 'evenOdd()' function
def evenOdd(num) :
     if num % 2 == 0:
             return'Even'
     return 'Odd'

# Use them in 'map()' function
result=list(map(evenOdd, myList))
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [ ]:
import pandas as pd
df=pd.DataFrame()
# lambda function as the argument
the_list=list(range(1,11))
result1=list(map(lambda num : 'Yes' if (num%2 ==0) & (num % 5 == 0) else 'No', the_list))
result2=list(map(lambda num : 'Yes' if (num % 5 == 0) else 'No', the_list))
result3=list(zip(the_list,result2))
df['tuples']=pd.Series(list(zip(the_list,result2)))
print(result1)
print(result2)
print(result3)
print(df)

['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes']
['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes']
[(1, 'No'), (2, 'No'), (3, 'No'), (4, 'No'), (5, 'Yes'), (6, 'No'), (7, 'No'), (8, 'No'), (9, 'No'), (10, 'Yes')]
      tuples
0    (1, No)
1    (2, No)
2    (3, No)
3    (4, No)
4   (5, Yes)
5    (6, No)
6    (7, No)
7    (8, No)
8    (9, No)
9  (10, Yes)

In [ ]:
# We create three lists
numList = [1, 2, 3, 4,5,6,7]
strList = ['One', 'Two', 'Three', 'Four']
rankList = ['1st', '2nd', '3rd', '4th','5th']

# lambda function that returns a tuple of it's arguments
lambda x, y, z : (x, y, z)

# Using them in 'map()' function
print(list(map(lambda x, y, z : (x, y, z), numList, strList, rankList)))
pd.DataFrame.from_records(map(lambda x, y, z : (x, y, z), numList, strList, rankList))

[(1, 'One', '1st'), (2, 'Two', '2nd'), (3, 'Three', '3rd'), (4, 'Four', '4th')]

   0      1    2
0  1    One  1st
1  2    Two  2nd
2  3  Three  3rd
3  4   Four  4th

In [ ]:
# Create a list of numbers
myList = range(1,11)
print(myList)

# Import 'math' module
import math

# First 'map()' function calculate square root of each number
print(list(map(math.sqrt, myList)))
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

# Second 'map()' function will covert float to integer using 'int()' function
print(  list(map(int, map(math.sqrt, myList) ))   )

range(1, 11)
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]
[1, 1, 1, 2, 2, 2, 2, 2, 3, 3]

In [ ]:
# lambda function to welcome a user, with default value
welcome = lambda user="Whosoever you are" : 'Welcome, ' + user + ' !!'

# This will take the default value and a rude welcome
print(welcome())

# This will override the default value
welcome('Mandar')

Welcome, Whosoever you are !!

'Welcome, Mandar !!'

In [ ]:
# use lambdas in lists and dictionaries in order to
 # choose between several actions to be performed.

functions_dict = {'power' : lambda x, y: x**y,
                  'tenTimes' : lambda x : 10 * x,
                  'sqrt' : lambda x : x ** 0.5,
                  'int' : lambda x : int(x) }

print(  type(functions_dict['tenTimes'])  )

print(  functions_dict['power'](10, 2)  )

print(  functions_dict['tenTimes'](20)  )

print(  functions_dict['sqrt'](224)  )

print(  functions_dict['int'](91.3452342)  )

<class 'function'>
100
200
14.966629547095765
91

In [ ]:
funcList = [ lambda x, y: x**y,
            lambda x : 10 * x,
            lambda x : x ** 0.5 ]

print(type(funcList[1]))

# # Power
print(funcList[0](6, 3) )

# # 'tenTimes'
print( funcList[1](12) )

# # 'sqrt'
print(funcList[2](124))

<class 'function'>
216
120
11.135528725660043

In [ ]:
# global vs. local variable


c = 1 # global variable
    
def add1():
    c = 2 # increment c by 2
    print("c is:\n \t \t>>>>>>>>>>>>>",c)

add1()

def add2():
    c = c + 2 # increment c by 2
    print("c is:\n \t \t>>>>>>>>>>>>>",c)

add2()
# UnboundLocalError: local variable 'c' referenced before assignment

# This is because we can only access the global variable but 
# cannot modify it from inside the function.

# The solution for this is to use the global keyword.

c is:
 	 	>>>>>>>>>>>>> 2

UnboundLocalError: ignored

In [ ]:
c = 0 # global variable

def add():
    global c
    c = c + 2 # increment by 2
    print("Inside add():", c)

add()
print("In main:", c)

Inside add(): 2
In main: 2